<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @users_course.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @users_course.course %>
</p>

<p>
  <strong>Buffer:</strong>
  <%= @users_course.buffer %>
</p>

<%= link_to 'Edit', edit_users_course_path(@users_course) %> |
<%= link_to 'Back', users_courses_path %>
