<p id="notice"><%= notice %></p>

<h1>Listing Applications</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Course</th>
      <th>Resume</th>
      <th>Status</th>
      <th>Stage</th>
      <th>Notes</th>
      <th>Education</th>
      <th>Experience</th>
      <th>Skils</th>
      <th>Motive</th>
      <th>Hear</th>
      <th>Additional</th>
      <th>Buffer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.user %></td>
        <td><%= application.course %></td>
        <td><%= application.resume %></td>
        <td><%= application.status %></td>
        <td><%= application.stage %></td>
        <td><%= application.notes %></td>
        <td><%= application.education %></td>
        <td><%= application.experience %></td>
        <td><%= application.skils %></td>
        <td><%= application.motive %></td>
        <td><%= application.hear %></td>
        <td><%= application.additional %></td>
        <td><%= application.buffer %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
