<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @application.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @application.course %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @application.resume %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @application.stage %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @application.notes %>
</p>

<p>
  <strong>Education:</strong>
  <%= @application.education %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @application.experience %>
</p>

<p>
  <strong>Skils:</strong>
  <%= @application.skils %>
</p>

<p>
  <strong>Motive:</strong>
  <%= @application.motive %>
</p>

<p>
  <strong>Hear:</strong>
  <%= @application.hear %>
</p>

<p>
  <strong>Additional:</strong>
  <%= @application.additional %>
</p>

<p>
  <strong>Buffer:</strong>
  <%= @application.buffer %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
