<p id="notice"><%= notice %></p>

<h1>Listing Screenings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Application</th>
      <th>Type</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Notes</th>
      <th>Buffer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screenings.each do |screening| %>
      <tr>
        <td><%= screening.user %></td>
        <td><%= screening.application %></td>
        <td><%= screening.type %></td>
        <td><%= screening.date %></td>
        <td><%= screening.duration %></td>
        <td><%= screening.notes %></td>
        <td><%= screening.buffer %></td>
        <td><%= link_to 'Show', screening %></td>
        <td><%= link_to 'Edit', edit_screening_path(screening) %></td>
        <td><%= link_to 'Destroy', screening, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screening', new_screening_path %>
